.container{
width:100%;
    max-width: 100%;
}

.jumbotron
{
    text-align: center;
    background: none;
}

.sectionLight{
    background-color: #eceeef;
    padding: 2em;
    
}

.sectionDark{
    background-color: #cccccc;
    padding:2em;
}

.coolStuffWrapper{
  margin-top: 20px;
}

button.coolStuffBtn{
    background-color: crimson;
    color:#ffffff;
    display:block;
    margin: auto;
}

h5.modal-title{
    margin: auto;
}


.modalFormWrapper{
/*    margin:0 auto;*/
    padding: 2rem;
}

.imgCenter{
    display: block;
    margin: auto;
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 55%;
}

